@model DataProvider.Framework.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @id ="form-edit-product"}))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal container">
    <h2> Chỉnh sửa sản phẩm</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductID, new { @id="product-id-edit"})
    <div class="form-group">
        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", @id= "tb-product-name-edit" })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger", @id= "ms-product-name-edit" })
        </div>
    </div>

    <div class="row mt-2">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.PromotionPrice, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.CategoryID, ViewBag.Category as SelectList, new { @class = "form-control" ,@id= "dropdown-category-edit" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group ml-3">
        <div class="row mb-2">
            <label class="control-label col-md-2">Hình ảnh:</label>
            <div class="col-md-4 mr-auto">
                <input type="file" multiple="multiple" name="images">
            </div>
            
        </div>
        
        <div style=" width: 100%; border: solid 1px red; white-space: nowrap; overflow-x: auto; overflow-y: hidden;">
            @foreach (var item in Model.ProductImages)
            {
                <div class="img-wrap" id="image-@item.ImageID">
                    <span class="close" onclick="DeleteImage(@item.ImageID)">&times;</span>
                    <img style="white-space: nowrap;" src="/Images/Products/@item.ImageName">
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group text-center mt-3 row">
        <div class="col-md-offset-2 col-md-10">
            <a href="/Admin/Product/Index" type="button" value="" class="btn btn-default btn-secondary">Trở về</a>
            <input type="submit" value="Xác nhận" class="btn btn-default btn-success" />
        </div>
    </div>
</div>
}
@section Script{
    <script>
        CKEDITOR.replace('Detail');
  
    </script>
}
