
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNewProduct = (List<DataProvider.Framework.Product>)ViewBag.ListNewProduct;
    var listLaptop = (List<DataProvider.Framework.Product>)ViewBag.ListLaptop;
    var listScreen = (List<DataProvider.Framework.Product>)ViewBag.ListScreen;
    var listGPU = (List<DataProvider.Framework.Product>)ViewBag.ListGPU;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

@section clientTitle{
    Cửa hàng vi tính GearShop
}

<!--main-->
<!-- promotion section -->
<div class="section hero">
    <div class="container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./images/images.png" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="/Assets/client/images/banner-kv-codegame.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="/Assets/client/images/banner-n05.jpg" alt="" />
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!---end promotion section-->
<!--- hot deal product list -->
<div class="section">
    <div class="container">
        <div class="section-header section-hotdeal">Sản phẩm mới</div>
        <div class="row" id="hot_deal-product">
            <!-- list Product item-->

            <ul class="cs-hidden autoWidth">
                <!-- Product item-->
                @foreach (var item in listNewProduct)
                {
                    var url = "/san-pham/" + @item.MetaTitle;
                    <li class="item-a">
                        <div class="">
                            <div class="product-card">
                                <div class="product-card-img">
                                    <a  href="@url">
                                        <img style="width:256px; height:256px;" src="~/Images/Products/@item.ProductImages.First().ImageName"
                                             alt="" />
                                    </a>     
                                </div>
                                <div class="product-card-info">
                                    <div class="product-btn">
                                        <a href="@url">Xem chi tiết</a>
                                        <a href="/add-to-cart?id=@item.ProductID" class="btn-hover btn-cart-add">
                                            <i class="bx bxs-cart-add"></i>
                                        </a>
                                    </div>
                                    <div class="product-card-name">
                                        <a href="@url" class="product-name">@item.ProductName</a>
                                    </div>
                                    @if (item.PromotionPrice > 0)
                                    {
                                        <div class="row">
                                            <div class="product-card-price">
                                                <span><del>@String.Format(info, "{0:0,0}", item.Price)<sup>đ</sup></del></span>
                                            </div>
                                            <span class="curr-price">@String.Format(info, "{0:0,0}", item.PromotionPrice)<sup>đ</sup></span>
                                        </div>                           
                                    }
                                    else
                                    {
                                        <div class="product-card-price">
                                            <span></span>
                                        </div>
                                        <span class="curr-price">@String.Format(info, "{0:0,0}", item.Price)<sup>đ</sup></span>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
                <!-- END product ITEM -->
            </ul>

            <!-- END product ITEM -->
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section-header section-hotdeal">Laptop</div>
        <div class="row" id="hot_deal-product">
            <!-- list Product item-->

            <ul class="cs-hidden autoWidth">
                <!-- Product item-->
                @foreach (var item in listLaptop)
                {
                    var url = "/san-pham/" + @item.MetaTitle;
                    <li class="item-a">
                        <div class="">
                            <div class="product-card">
                                <div class="product-card-img">
                                    <a href="@url">
                                        <img style="width:256px; height:256px;" src="~/Images/Products/@item.ProductImages.First().ImageName"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="product-card-info">
                                    <div class="product-btn">
                                        <a href="@url">Xem chi tiết</a>
                                        <a href="/add-to-cart?id=@item.ProductID" class="btn-hover btn-cart-add">
                                            <i class="bx bxs-cart-add"></i>
                                        </a>
                                    </div>
                                    <div class="product-card-name">
                                        <a href="@url" class="product-name">@item.ProductName</a>
                                    </div>
                                    @if (item.PromotionPrice > 0)
                                    {
                                        <div class="row">
                                            <div class="product-card-price">
                                                <span><del>@String.Format(info, "{0:0,0}", item.Price)<sup>đ</sup></del></span>
                                            </div>
                                            <span class="curr-price">@String.Format(info, "{0:0,0}", item.PromotionPrice)<sup>đ</sup></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-card-price">
                                            <span></span>
                                        </div>
                                        <span class="curr-price">@String.Format(info, "{0:0,0}", item.Price)<sup>đ</sup></span>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
                <!-- END product ITEM -->
            </ul>

            <!-- END product ITEM -->
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="section-header section-hotdeal">Màn hình</div>
        <div class="row" id="hot_deal-product">
            <!-- list Product item-->

            <ul class="cs-hidden autoWidth">
                <!-- Product item-->
                @foreach (var item in listScreen)
                {
                    var url = "/san-pham/" + @item.MetaTitle;
                    <li class="item-a">
                        <div class="">
                            <div class="product-card">
                                <div class="product-card-img">
                                    <a href="@url">
                                        <img style="width:256px; height:256px;" src="~/Images/Products/@item.ProductImages.First().ImageName"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="product-card-info">
                                    <div class="product-btn">
                                        <a href="@url">Xem chi tiết</a>
                                        <a href="/add-to-cart?id=@item.ProductID" class="btn-hover btn-cart-add">
                                            <i class="bx bxs-cart-add"></i>
                                        </a>
                                    </div>
                                    <div class="product-card-name">
                                        <a href="@url" class="product-name">@item.ProductName</a>
                                    </div>
                                    @if (item.PromotionPrice > 0)
                                    {
                                        <div class="row">
                                            <div class="product-card-price">
                                                <span><del>@String.Format(info, "{0:0,0}", item.Price)<sup>đ</sup></del></span>
                                            </div>
                                            <span class="curr-price">@String.Format(info, "{0:0,0}", item.PromotionPrice)<sup>đ</sup></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-card-price">
                                            <span></span>
                                        </div>
                                        <span class="curr-price">@String.Format(info, "{0:0,0}", item.Price)<sup>đ</sup></span>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
                <!-- END product ITEM -->
            </ul>

            <!-- END product ITEM -->
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section-header section-hotdeal">GPU - Card đồ họa</div>
        <div class="row" id="hot_deal-product">
            <!-- list Product item-->

            <ul class="cs-hidden autoWidth">
                <!-- Product item-->
                @foreach (var item in listGPU)
                {
                    var url = "/san-pham/" + @item.MetaTitle;
                    <li class="item-a">
                        <div class="">
                            <div class="product-card">
                                <div class="product-card-img">
                                    <a href="@url">
                                        <img style="width:256px; height:256px;" src="~/Images/Products/@item.ProductImages.First().ImageName"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="product-card-info">
                                    <div class="product-btn">
                                        <a href="@url">Xem chi tiết</a>
                                        <a href="/add-to-cart?id=@item.ProductID" class="btn-hover btn-cart-add">
                                            <i class="bx bxs-cart-add"></i>
                                        </a>
                                    </div>
                                    <div class="product-card-name">
                                        <a href="@url" class="product-name">@item.ProductName</a>
                                    </div>
                                    @if (item.PromotionPrice > 0)
                                    {
                                        <div class="row">
                                            <div class="product-card-price">
                                                <span><del>@String.Format(info, "{0:0,0}", item.Price)<sup>đ</sup></del></span>
                                            </div>
                                            <span class="curr-price">@String.Format(info, "{0:0,0}", item.PromotionPrice)<sup>đ</sup></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-card-price">
                                            <span></span>
                                        </div>
                                        <span class="curr-price">@String.Format(info, "{0:0,0}", item.Price)<sup>đ</sup></span>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
                <!-- END product ITEM -->
            </ul>

            <!-- END product ITEM -->
        </div>
    </div>
</div>