@model PagedList.IPagedList<DataProvider.Framework.ProductOrder>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}

<div class="details_table">
    <!-- Orders table-->
    <div class="recent_table">
        <div class="cardHeader">
            <h2>Đơn hàng</h2>
            <input class="search_box"
                   type="text"
                   placeholder="Tìm.."
                   id="search_order"
                   style="width: 40%" />
        </div>
        <div>
            @if (ViewBag.OrderType == 0)
            {
                <a role="button" href="/admin/don-hang?id=0" class="btn btn-success" type="button">Chờ duyệt</a>
                <a class="btn btn-outline-success me-2" href="/admin/don-hang?id=1" type="button">Đang giao</a>
                <a class="btn btn-outline-success me-2" href="/admin/don-hang?id=2" type="button">Đã giao</a>
                <a class="btn btn-outline-success me-2" href="/admin/don-hang?id=-1" type="button">Đã hủy</a>
            }
            else if (ViewBag.OrderType == 1)
            {
                <a role="button" href="/admin/don-hang?id=0" class="btn btn-outline-success me-2" type="button">Chờ duyệt</a>
                <a class="btn btn-success" href="/admin/don-hang?id=1" type="button">Đang giao</a>
                <a class="btn btn-outline-success me-2" href="/admin/don-hang?id=2" type="button">Đã giao</a>
                <a class="btn btn-outline-success me-2" href="/admin/don-hang?id=-1" type="button">Đã hủy</a>
            }
            else if (ViewBag.OrderType == 2)
            {
                <a role="button" href="/admin/don-hang?id=0" class="btn btn-outline-success me-2" type="button">Chờ duyệt</a>
                <a class="btn btn-outline-success me-2" href="/admin/don-hang?id=1" type="button">Đang giao</a>
                <a class="btn btn-success" href="/admin/don-hang?id=2" type="button">Đã giao</a>
                <a class="btn btn-outline-success me-2" href="/admin/don-hang?id=-1" type="button">Đã hủy</a>
            }
            else
            {
                <a role="button" href="/admin/don-hang?id=0" class="btn btn-outline-success me-2" type="button">Chờ duyệt</a>
                <a class="btn btn-outline-success me-2" href="/admin/don-hang?id=1" type="button">Đang giao</a>
                <a class="btn btn-outline-success me-2" href="/admin/don-hang?id=2" type="button">Đã giao</a>
                <a class="btn btn-success" href="/admin/don-hang?id=-1" type="button">Đã hủy</a>
            }
        </div>
        <div id="order-data-table">
            <table id="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Khách hàng</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="order_body">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td><p id="order_id">@item.OrderID</p></td>
                                <td>
                                    <p id="order_cus">
                                        @item.Customer.Email
                                    </p>
                                </td>
                                <td>
                                    <p id="order_price">@String.Format(info, "{0:0,0}", item.TotalPrice)<sup>đ</sup></p>
                                </td>
                                <td>
                                    <a href="/admin/xem-don-hang/@item.OrderID" role="button" class="btn btn-success text-white">
                                        Xem đơn
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <div id="pageNavPosition" class="pager-nav row">
            <div class="col-6">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @search = ViewBag.Search }))
            </div>
            <div class="col-6 ms-auto">
                <p class="text-end">
                    Trang @Model.PageNumber
                </p>
            </div>
        </div>
    </div>
</div>


