@model List<DataProvider.Framework.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    long? price = 0;
    long? totalPrice = 0;
}
@section clientTitle{
    Thanh toán - GearShop
    }
<div>
    <div class="container">
        <div class="checkout_title">
            <i class="uil uil-credit-card"></i>
            <h2>Thanh toán</h2>
            <p class="lead">
                Vui lòng kiểm tra thông tin Khách hàng, thông tin giỏ hàng trước khi
                đặt hàng.
            </p>
        </div>
        <div class="row pay_receipt">
            <div class="col-7 col-sm-12 col-md-8 checkout_cus_info">
                <h2>Thông tin giao hàng</h2>
                @RenderPage("OrderInformation.cshtml")
            </div>
            <div class="col-5 col-sm-12 col-md-4 cart_view">
                <h2>Đơn hàng</h2>
                <table id="checkout_cart">
                    @foreach (var item in Model)
                    {

                        if (item.Product.PromotionPrice > 0)
                        {
                            price = item.Product.PromotionPrice;
                        }
                        else
                        {
                            price = item.Product.Price;
                        }
                        totalPrice += price * item.Quanlity;
                            <tr>
                                <td>
                                    <span id="cart_product_name_pay">@item.Product.ProductName</span>
                                    <div class="checkout_info">

                                        <span id="cart_product_price_pay">@String.Format(info, "{0:0,0}", price)</span>
                                        <span> x </span> <span id="quantity_of_product">@item.Quanlity</span>
                                    </div>
                                </td>
                                <td>
                                    <span id="checkout_product_total">@String.Format(info, "{0:0,0}", price * item.Quanlity)</span>
                                </td>
                            </tr>   
                    }
                </table>
                <div class="price-total">
                    <p>
                        Thành tiền: <span id="cart_price-total">@String.Format(info, "{0:0,0}", totalPrice)</span><sup>đ</sup>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

